@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
}

.container {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.theme-btn {
  padding: 14px 38px;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #715bd9;
  background-image: linear-gradient(
    193deg,
    #9989fa 0%,
    rgba(131, 110, 230, 0.008) 100%
  );
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.logo-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-button img {
  width: 50px;
  height: 40px;
}

.logo-button .theme-btn {
  color: #836ee6;
  border: solid 1px rgba(131, 110, 230, 0.141);
  background-color: transparent;
  background-image: none;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.elements h6 {
  text-transform: uppercase;
  color: #836ee6;
}

.elements h1 {
  text-transform: uppercase;
  color: black;
}

.elements p {
  color: #7284a6;
  text-align: center;
}
.line {
  height: 10px;
}
.line {
  width: 37px;
  height: 8px;
  background-color: #8672e9;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .about .left{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about p {
  color: #7284a6;
  width: 60%;
}

.about .right img {
  width: auto;
  height: 350px;
  object-fit: cover;
}

.about .left .sign {
  font-family: 'Rock Salt', cursive;
    font-size: 1.125em;
    line-height: 1.25;
    font-weight: 400;
  color: #8672e9;
}

.card-A{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.fa-heart {
  color: red;
}

.fa-mobile{
  color: yellow;
}

.fa-bell {
  color: blue;
}
.card-B{ 
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.fa-face-rolling-eyes{
  color: orangered;
}
.fa-face-smile{
  color: green;
}
.fa-face-meh{
  color: brown;
}